* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: none;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/darktheme.png");
    background-size: cover;
}

p {
    color: rgb(189, 196, 201);
}

.container {
    padding: auto;
    position: relative;
    width: 90%;
    height: 100px;
    border-radius: 30px;
    background: transparent;
    backdrop-filter: blur(12px);
    overflow: hidden;
    border: 1px solid seashell;
    transition: 600ms ease-out;
    justify-content: center;
    align-items: center;
}

.title-box {
    padding: 30px 25px 0px 25px;
    display: flex;
    width: 100%;
    height: min-content;
    align-items: center;
    justify-content: space-between;
    
}

.search-bar {
    width: 90%;
    height: 40px;
    text-align: center;
    background: transparent;
    font-size: 20px;
    caret-color: seashell;
    color: rgb(189, 196, 201);

}
.error-image{
    scale: 0;
    opacity: 0;
    display: none;
}
.error-image img{
    width: 100%;
    height: 600px;
    object-fit: contain;
    
}

.fa-location-dot {
    color: rgb(189, 196, 201);
    font-size: 24px;
    padding: 0px 15px;
    
}

.fa-magnifying-glass {
    background: transparent;
    color: rgb(189, 196, 201);
    font-size: 18px;
    height: 36px;
    width: 36px;
    border-radius: 18px;
   
}

.fa-magnifying-glass:hover {
    cursor: pointer;
    background-color: azure;
    transition: 600ms ease;
}

.fa-magnifying-glass:active {
    background-color: rgb(15, 15, 70);
    transition: none;
}

.main-card {
    width: 40%;
    margin-top: 33px;
}

.side-card {
    border: 1px solid rgb(189, 196, 201);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.side-card .weather-box img{
    position: absolute;
    top: 0px;
    right: 0px;
}

.weather-box {
    
    text-align: center;
    
}

.weather-box img{
    width: 140px;
}

.weather-box .temperature{
    position: relative;
    font-size: 4rem;
    font-weight: 800;
    margin-left: -16px;
}

.weather-box .temperature span {
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    display: flex;
    justify-content: center;
    text-align: center;
}

.weather-details .humidity, .weather-details .wind {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 30%;
}

.weather-details i {
    color: rgb(189, 196, 201);
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span {
    color: rgb(189, 196, 201);
    font-size: 22px;
    font-weight: 500; 
    padding-bottom: 2px; 
    width: 50px;
}

.weather-details p{
    color: rgb(189, 196, 201);
    font-size: 1.2rem;
    font-weight: 500;
}

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section {
    display: flex;
    height: 54%;
} 

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    to {scale: 1;
    opacity: 1;
}}

.section .side-card .weather-box {
    
    display: block;
    justify-content: end;
    align-items: start;
    margin-bottom: -400px;
}

.section .weather-box img{
    position: absolute;
    width: 40%;
    top: 23%;
    right: 34%;
}

.section .weather-box .temperature{
    position: relative;
    font-size: 2.6rem;
    font-weight: 800;
    margin-left: -16px;
}

.section .weather-box .temperature span {
    margin-left: 4px;
    font-size: 1rem;
}

.section .weather-box .description {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.section .weather-details {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: -65px;
}

.section .weather-details .humidity, .section .weather-details .wind {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 22px 0px 22px;
}

.section .weather-details i {
    color: rgb(189, 196, 201);
    font-size: 18px;
    margin-right: 10px;
    margin-top: 6px;
}

.section .weather-details span {
    color: rgb(189, 196, 201);
    font-size: 17px;
    font-weight: 900; 
    padding-bottom: 2px; 
}

.section .weather-details p{
    color: rgb(189, 196, 201);
    font-size: 16px;
    font-weight: 800;
}